{% extends 'base.html' %}
{% load static %}

{% block reviews %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Reviews</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="col-sm-6 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                    <div class="card h-100 mb-3" style="max-width: 800px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if review.image %}
                                    <img src="{{ MEDIA_URL }}{{ review.image }}" class="card-img-top" alt="{{ review.title }}">
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ review.title }}">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">{{ review.product }}</h6>
                                    <h5 class="card-title">{{ review.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">by {{ review.user }} on {{ review.review_date }}</h6>
                                    <p class="card-text">{{ review.description }}</p>
                                    <p>Rating: {{ review.rating }} stars </p>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                {% if request.user == review.user %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_review' review.id %}">Edit</a> | 
                                                        <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}